---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1C5wyQAqLMYq45GOzv7Ch3Bi&plan=myflix_standard&email=alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "type": "card_error",
            "param": "",
            "code": "processing_error"
          }
        }
  recorded_at: Thu, 15 Mar 2018 14:22:32 GMT
recorded_with: VCR 2.9.3
