---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[cvc]=123&card[exp_month]=3&card[exp_year]=2020
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1C6KPZAqLMYq45GOO4kYp8OO",
          "object": "token",
          "card": {
            "id": "card_1C6KPZAqLMYq45GOZU3oiqcW",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "YUjxXc5h8LOAv7gw",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "88.212.56.2",
          "created": 1521213845,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 16 Mar 2018 15:24:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&card=tok_1C6KPZAqLMYq45GOO4kYp8OO
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1C6KPbAqLMYq45GOMQPfOvlh",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1C6KPbAqLMYq45GOJBTTo9FZ",
          "captured": true,
          "created": 1521213847,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1C6KPbAqLMYq45GOMQPfOvlh/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1C6KPZAqLMYq45GOZU3oiqcW",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "YUjxXc5h8LOAv7gw",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": null,
          "card": {
            "id": "card_1C6KPZAqLMYq45GOZU3oiqcW",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "YUjxXc5h8LOAv7gw",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          }
        }
  recorded_at: Fri, 16 Mar 2018 15:24:08 GMT
recorded_with: VCR 2.9.3
