---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15HFY5AqLMYq45GOPbPSAGZT&plan=myflix_standard&email=kelly%40example.com
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1420382410,
          "id": "cus_5S9rbIwWzempKB",
          "livemode": false,
          "description": null,
          "email": "kelly@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5S9rbIwWzempKB/subscriptions",
            "data": [
              {
                "id": "sub_5S9rrmPKPT0zCf",
                "plan": {
                  "interval": "month",
                  "name": "MyFLiX Standard",
                  "created": 1420358262,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_standard",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1420382410,
                "status": "active",
                "customer": "cus_5S9rbIwWzempKB",
                "cancel_at_period_end": false,
                "current_period_start": 1420382410,
                "current_period_end": 1423060810,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5S9rbIwWzempKB/cards",
            "data": [
              {
                "id": "card_15HFY5AqLMYq45GOZrwR4kBe",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "YUjxXc5h8LOAv7gw",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5S9rbIwWzempKB"
              }
            ]
          },
          "default_card": "card_15HFY5AqLMYq45GOZrwR4kBe"
        }
  recorded_at: Sun, 04 Jan 2015 14:40:11 GMT
recorded_with: VCR 2.9.3
