---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card=tok_1C6KRgAqLMYq45GO77r1IvCd&plan=myflix_standard&email=kelly%40example.com
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CVL7YQ4oKd2iYs",
          "object": "customer",
          "account_balance": 0,
          "created": 1521213978,
          "currency": "usd",
          "default_source": "card_1C6KRgAqLMYq45GOpflSEWcA",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "kelly@example.com",
          "invoice_prefix": "4FD32B1",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1C6KRgAqLMYq45GOpflSEWcA",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CVL7YQ4oKd2iYs",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2019,
                "fingerprint": "YUjxXc5h8LOAv7gw",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CVL7YQ4oKd2iYs/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_CVL7Em3aw2PuLe",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1521213978,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1521213978,
                "current_period_end": 1523892378,
                "current_period_start": 1521213978,
                "customer": "cus_CVL7YQ4oKd2iYs",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_CVL7r0O4wNHP3l",
                      "object": "subscription_item",
                      "created": 1521213978,
                      "metadata": {},
                      "plan": {
                        "id": "myflix_standard",
                        "object": "plan",
                        "amount": 999,
                        "created": 1420358262,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "nickname": null,
                        "product": "prod_BUhWZS4BHAiv9k",
                        "trial_period_days": null,
                        "statement_descriptor": null,
                        "name": "MyFLiX Standard"
                      },
                      "quantity": 1,
                      "subscription": "sub_CVL7Em3aw2PuLe"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_CVL7Em3aw2PuLe"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "myflix_standard",
                  "object": "plan",
                  "amount": 999,
                  "created": 1420358262,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_BUhWZS4BHAiv9k",
                  "trial_period_days": null,
                  "statement_descriptor": null,
                  "name": "MyFLiX Standard"
                },
                "quantity": 1,
                "start": 1521213978,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CVL7YQ4oKd2iYs/subscriptions"
          },
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_1C6KRgAqLMYq45GOpflSEWcA",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CVL7YQ4oKd2iYs",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2019,
                "fingerprint": "YUjxXc5h8LOAv7gw",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CVL7YQ4oKd2iYs/cards"
          },
          "default_card": "card_1C6KRgAqLMYq45GOpflSEWcA"
        }
  recorded_at: Fri, 16 Mar 2018 15:26:19 GMT
recorded_with: VCR 2.9.3
