!!! 5
%html
  %body
    %p Dear #{@user.fullname},
    %br
    %p We have received a request that you wish to reset your password
    %p In case you requested this service and click the link below:
    %br
    %p= link_to reset_password_url(@user.token), reset_password_url(@user.token)
    %p For further information, please contact our support services.
    %br
    %p Your MyFLiX team