<!DOCTYPE html>
<html>
<body>
  <p>Welcome to MyFLiX, <%= @user.fullname %></p>
  <br>
  <p>Thank you for your registration!</p>
  <p>We wish you the best stay</p>
  <br>
  <p>Your MyFLiX team</p>
</body>
</html>