---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15HXSxAqLMYq45GOcgBBDJRz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15HXSxAqLMYq45GOcgBBDJRz",
          "created": 1420451283,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15HXSxAqLMYq45GOreetEOzh",
              "object": "charge",
              "created": 1420451283,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": true,
              "card": {
                "id": "card_15HXSvAqLMYq45GOph1DmnqB",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "YUjxXc5h8LOAv7gw",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5SSNx8l0y9biED"
              },
              "balance_transaction": "txn_15HXSxAqLMYq45GO0QdJrHPV",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5SSNx8l0y9biED",
              "invoice": "in_15HXSxAqLMYq45GOMOVFNOka",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15HXSxAqLMYq45GOreetEOzh/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 2,
          "request": "iar_5SSNmPdH09h3c9",
          "api_version": "2014-12-22"
        }
  recorded_at: Mon, 05 Jan 2015 09:50:06 GMT
recorded_with: VCR 2.9.3
