---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[cvc]=123&card[exp_month]=3&card[exp_year]=2020
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1C6KPQAqLMYq45GOWNsWb04B",
          "object": "token",
          "card": {
            "id": "card_1C6KPQAqLMYq45GOihalEYJE",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "YUjxXc5h8LOAv7gw",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "88.212.56.2",
          "created": 1521213836,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 16 Mar 2018 15:23:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card=tok_1C6KPQAqLMYq45GOWNsWb04B&plan=myflix_standard&email=alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CVL5wqQK951b1J",
          "object": "customer",
          "account_balance": 0,
          "created": 1521213837,
          "currency": "usd",
          "default_source": "card_1C6KPQAqLMYq45GOihalEYJE",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "alice@example.com",
          "invoice_prefix": "EDACBB7",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1C6KPQAqLMYq45GOihalEYJE",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CVL5wqQK951b1J",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "YUjxXc5h8LOAv7gw",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CVL5wqQK951b1J/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_CVL5GwBqZl97h4",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1521213837,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1521213837,
                "current_period_end": 1523892237,
                "current_period_start": 1521213837,
                "customer": "cus_CVL5wqQK951b1J",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_CVL5r48K6FUiPR",
                      "object": "subscription_item",
                      "created": 1521213838,
                      "metadata": {},
                      "plan": {
                        "id": "myflix_standard",
                        "object": "plan",
                        "amount": 999,
                        "created": 1420358262,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "nickname": null,
                        "product": "prod_BUhWZS4BHAiv9k",
                        "trial_period_days": null,
                        "statement_descriptor": null,
                        "name": "MyFLiX Standard"
                      },
                      "quantity": 1,
                      "subscription": "sub_CVL5GwBqZl97h4"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_CVL5GwBqZl97h4"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "myflix_standard",
                  "object": "plan",
                  "amount": 999,
                  "created": 1420358262,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_BUhWZS4BHAiv9k",
                  "trial_period_days": null,
                  "statement_descriptor": null,
                  "name": "MyFLiX Standard"
                },
                "quantity": 1,
                "start": 1521213837,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CVL5wqQK951b1J/subscriptions"
          },
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_1C6KPQAqLMYq45GOihalEYJE",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CVL5wqQK951b1J",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "YUjxXc5h8LOAv7gw",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CVL5wqQK951b1J/cards"
          },
          "default_card": "card_1C6KPQAqLMYq45GOihalEYJE"
        }
  recorded_at: Fri, 16 Mar 2018 15:23:58 GMT
recorded_with: VCR 2.9.3
