---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[cvc]=123&card[exp_month]=3&card[exp_year]=2017
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15HZwpAqLMYq45GOmuBN010w",
          "livemode": false,
          "created": 1420460823,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15HZwpAqLMYq45GOHVfmpu5S",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "YUjxXc5h8LOAv7gw",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          }
        }
  recorded_at: Mon, 05 Jan 2015 12:27:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15HZwpAqLMYq45GOmuBN010w&plan=myflix_standard&email=alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1420460826,
          "id": "cus_5SUwOxRWCux8zJ",
          "livemode": false,
          "description": null,
          "email": "alice@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5SUwOxRWCux8zJ/subscriptions",
            "data": [
              {
                "id": "sub_5SUwpqmmfRcc2K",
                "plan": {
                  "interval": "month",
                  "name": "MyFLiX Standard",
                  "created": 1420358262,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_standard",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1420460826,
                "status": "active",
                "customer": "cus_5SUwOxRWCux8zJ",
                "cancel_at_period_end": false,
                "current_period_start": 1420460826,
                "current_period_end": 1423139226,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5SUwOxRWCux8zJ/cards",
            "data": [
              {
                "id": "card_15HZwpAqLMYq45GOHVfmpu5S",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "YUjxXc5h8LOAv7gw",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5SUwOxRWCux8zJ"
              }
            ]
          },
          "default_card": "card_15HZwpAqLMYq45GOHVfmpu5S"
        }
  recorded_at: Mon, 05 Jan 2015 12:27:08 GMT
recorded_with: VCR 2.9.3
